# Ignore node_modules in root
/node_modules

# Ignore node_modules in frontend
/frontend/node_modules

# Ignore node_modules in backend
/backend/node_modules

# Ignore yarn lock files in root, frontend, and backend
yarn.lock
/frontend/yarn.lock
/backend/yarn.lock

# Ignore .env files if any
.env
/frontend/.env
/backend/.env

# Ignore build output in frontend
/frontend/build
